.container {
    width:100%;
    border:1px solid #5703ff; 
}
.container div {
    width:100%;
}
.container .header {
    background-color: #5703ff;  
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: none;
    padding : 6px;
}
